.messagesList {
  position: relative;
  grid-area: messages-list;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;

  scroll-padding-bottom: 5rem;
  overflow: auto;
  max-height: 100vh;

  padding-bottom: 5.5rem;
}
