.settingsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  min-height: 100vh;
  width: 100%;

  background: #36393f;

  display: grid;
  grid-template-columns: 35% 55%;
  grid-template-areas:
    "sidebar active-tab"
    "sidebar active-tab"
    "sidebar active-tab"
    "sidebar active-tab";

  > div {
    max-width: 50rem;
  }
}

.closeSettingsContainer {
  position: absolute;
  top: 5rem;
  right: 7rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #72767d;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.closeSettings {
  background: none;
  border: none;
  padding: 0.5rem;

  display: grid;
  place-items: center;

  transform: rotate(45deg);

  border: 2px solid #72767d;
  border-radius: 50%;
  cursor: pointer;

  svg {
    fill: #f5f5f5;
  }

  &:hover {
    background: #484c52;
  }
}
