.membersList {
  grid-area: members-list;
  background: #2f3136;

  width: 100%;
  margin-top: 3rem;
  height: calc(100vh - 3rem);

  padding: 0.5rem;
}

.memberItem {
  margin: 0.2rem 0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;

  & img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  > div {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    background: #34373c;

    & h1 {
      color: #ffffff;
    }
  }
}

.usernameArea {
  h1 {
    font-size: 1rem;
    font-weight: 600;
    color: #96989b;
  }

  span {
    color: #96989b;
    font-size: 0.8rem;
  }
}
